<div class="panel">
    <div class="panel-body">        
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                   <h2>{{actor.lastName}} <small>{{actor.name}}</small></h2>
                    <h3><small>Other data:</small>                         
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Gender: <strong>{{actor.gender}} </strong></h4>
                <h4>Birthday: <strong>{{actor.nacimiento}} </strong></h4>
                <div ng-hide="{{actor.movies}}">
                    <h3>Movies:
                    <span style="margin-right:5px" ng-repeat="movie in actor.movies" 
                          class="label label-primary"><a style="color:white" href="#/movie/{{movie.id}}">{{movie.name}}</a></span>
                    </h3>
                </div>
                <div ng-repeat="movie in movies" class="list-group-item">
                    <h1>{{move.name}}</h1>                          
                </div>
                Add a movie to this actor:
                    <form action="#">
                        <input list="movies" name="movie">
                        <datalist id="movies">
                          <div ng-repeat="movie in movies">
                            <option value="{{movie.name}}">                         
                          </div>
                        </datalist>
                        <input type="submit">
                    </form>
                
                        
                
                
                
            </div>

        </div>
    </div>
</div>