<div class="panel">
    <div class="panel-body">
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h3>Nombre:</h3>
                    <h1><i class="mdi-hardware-desktop-mac"></i>   {{equipo.name}}</h1>
                    
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Ubicación</h4>
                <h3><i class="mdi-maps-place"></i> {{equipo.ubicacion}}</h3>
                <h4>Salón:</h4>
                <h3><i class="mdi-action-home"></i> {{equipo.salon}}</h3>
                
                
            </div>
        </div>
    </div>
</div>