<div>
    <hr>
    
    <div class="row">
        
        <div class="col-lg-6 list-group">
            <h1>Salones:</h1>
            <div ng-repeat="salon in salones" class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-action-home"></i>
                </div>
                <div class="row-content">
                    <div class="least-content"></div>
                    <h2><a href="#/salon/{{salon.id}}">{{salon.name}}</a></h2>
                    <h4><i class="mdi-maps-place"></i>{{salon.ubicacion}}</h4>                    
                </div>                
                <div class="list-group-separator"></div>
            </div>            
        </div>
        <div class="col-lg-6 list-group">
            <h1>Equipos:</h1>
            <div ng-repeat="equipo in equipos" class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-hardware-desktop-mac"></i>
                </div>
                <div class="row-content">                    
                    <h2><a href="#/equipo/{{equipo.id}}">{{equipo.name}}</a></h2>
                    <h4><i class="mdi-maps-place"></i>{{equipo.ubicacion}}</h4>
                </div>
                <div class="list-group-separator"></div>
            </div>
        </div>
    </div>
</div>
